.dkDashboardView {
    .rowCard {
        height: 200px; // set height for now, we don't have content
        padding: 10px;
        border-radius: 4px;
        background-color: lightblue;
        color: #4c4c4c;
    }
}
