@import "../../variables.scss";

.dkDashboardCard {
    min-height: 100px;
    height: auto;
    background-color: $primary;

    .cardIcon {
        font-size: 20px;
    }
    .dropdown-toggle::after {
        display: none;
    }
}
