$primary: #af9164;
$secondary: #f7f3e3;
$info: #b3b6b7;
$success: #299035;
$warning: #ff5c21;
$danger: #bc2402;
$dark: #2b2118;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "dark": $dark,
);

$primary-100: #c8b393;
$primary-200: #c1a986;
$primary-300: #baa078;
$primary-400: #b3966b;
$primary-500: #af9164;
$primary-600: #a28253;
$primary-700: #94774c;
$primary-800: #876d45;
$primary-900: #79623e;

$secondary-100: #ffffff;
$secondary-200: #ffffff;
$secondary-300: #ffffff;
$secondary-400: #ffffff;
$secondary-500: #f7f3e3;
$secondary-600: #ebebeb;
$secondary-700: #e0e0e0;
$secondary-800: #d6d6d6;
$secondary-900: #cccccc;
